#Bus Route and Link Extraction
with help of selenium webdriver though and by method only and i also used pandas for dataframing and time lib for loading content properly

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time



def extract_route(url):
    """Extracts route information from the provided URL."""
    driver.get(url)   
    time.sleep(5)  # Wait for the page to load
    try:
        driver.execute_script("window.scrollBy(0, 1600);")  # Scroll down to load elements
        time.sleep(2)  # Allow time for elements to load after scroll
        web_container = driver.find_element(By.CLASS_NAME, 'D117_main')
        page_tabs = web_container.find_elements(By.CLASS_NAME, 'DC_117_pageTabs')
        for page in page_tabs:
            page.click()  # Click on each page tab
            time.sleep(5)  # Wait for the page content to load
            elements = web_container.find_elements(By.CLASS_NAME, 'route_details')
            for element in elements:
                try:
                    anchor = element.find_element(By.TAG_NAME, 'a')
                    route_link['routename'].append(anchor.text)  # Store route name
                    route_link['routelink'].append(anchor.get_attribute('href'))  # Store route link
                except Exception as e:
                    pass  # Handle any exceptions that occur within the inner try block
            time.sleep(1)  # Brief pause before moving to the next set of elements
    except Exception as e:
        pass  # Handle any exceptions that occur within the outer try block

# List of URLs to extract route information from
route_dict = [
    'https://www.redbus.in/online-booking/apsrtc',
    'https://www.redbus.in/online-booking/tsrtc',
    'https://www.redbus.in/online-booking/rsrtc',
    'https://www.redbus.in/online-booking/hrtc',
    'https://www.redbus.in/online-booking/uttar-pradesh-state-road-transport-corporation-upsrtc',
    'https://www.redbus.in/online-booking/pepsu',
    'https://www.redbus.in/online-booking/pepsu-punjab',
    'https://www.redbus.in/online-booking/ksrtc-kerala',
    'https://www.redbus.in/online-booking/sikkim-nationalised-transport-snt',
    'https://www.redbus.in/online-booking/meghalaya-transport-corporation-mtc'
]


# Initialize dictionaries for storing route and bus details
driver = webdriver.Chrome()

route_link = {'routename': [], 'routelink': []}

# Extract route information from each URL in the list
for url in route_dict:
    extract_route(url)

driver.quit()  # Close the browser

# Convert the route data to a DataFrame and save it as a CSV file
route_data = pd.DataFrame(route_link)
route_data.to_csv('route_data.csv', index=False)

Route Name and Route Link Store in the *route data*

In [4]:
route_data

,routename,routelink
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
2,Kakinada to Visakhapatnam,https://www.redbus.in/bus-tickets/kakinada-to-...
3,Visakhapatnam to Kakinada,https://www.redbus.in/bus-tickets/visakhapatna...
4,Chittoor (Andhra Pradesh) to Bangalore,https://www.redbus.in/bus-tickets/chittoor-and...
...,...,...
274,Shillong to Hailakandi,https://www.redbus.in/bus-tickets/shillong-to-...
275,Shillong to Ramkrishnanagar,https://www.redbus.in/bus-tickets/shillong-to-...
276,Hailakandi to Shillong,https://www.redbus.in/bus-tickets/hailakandi-t...
277,Ramkrishnanagar to Shillong,https://www.redbus.in/bus-tickets/ramkrishnana...
278,Shillong to Phulbari,https://www.redbus.in/bus-tickets/shillong-to-...

that 279 link passed to the bus details extraction function, and collect the bus details

Bus Detials Extraction

In [5]:

# Initialize dictionary for storing bus details
bus_dict = {
    'route_Name':[],'busname': [], 'bus_desc': [],'bustype': [], 'starttime': [], 'endtime': [], 'duration': [],
    'dploc': [], 'ratings': [], 'fare': [], 'seats': [] }

# Initialize the WebDriver
driver = webdriver.Chrome()

def scroll(driver):
    """Scrolls to the bottom of the page to load dynamic content."""
    last_height = driver.execute_script("return document.body.scrollHeight")
    while True:
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(3)
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            break
        last_height = new_height

def extract_time(name,url):
    """Extracts bus timing and other details from the provided URL."""
    driver.get(url)
    time.sleep(4)  # Wait for the page to load
    try:
        buttons = driver.find_elements(By.CLASS_NAME, 'p-left-10')
    except:
        buttons = []
    if buttons and len(buttons) > 1:
        for button in reversed(buttons):
            button.click()
            time.sleep(2)  # Allow time for content to load after click
    scroll(driver)
    time.sleep(10)  # Wait for content to load after scrolling
    web_container = driver.find_elements(By.CLASS_NAME, 'bus-item-details')
    for element in web_container:
        bus_dict["route_Name"].append(name)
        bus_dict['busname'].append(element.find_element(By.XPATH, "//div[@class='travels lh-24 f-bold d-color']").text)
        bus_dict['bus_desc'].append(element.find_element(By.CLASS_NAME, 'bus-type').text)
        bus_dict['bustype'].append(element.find_element(By.XPATH, "//div[@class='bus-type f-12 m-top-16 l-color evBus']").text)
        bus_dict['starttime'].append(element.find_element(By.CLASS_NAME, 'dp-time').text)
        bus_dict['endtime'].append(element.find_element(By.CLASS_NAME, 'bp-time').text)
        bus_dict['duration'].append(element.find_element(By.CLASS_NAME, 'dur').text)
        bus_dict['dploc'].append(element.find_element(By.CLASS_NAME, 'dp-loc').text)
        try:
            bus_dict['ratings'].append(element.find_element(By.CLASS_NAME, 'rating').find_element(By.TAG_NAME, 'span').text)
        except:
            bus_dict['ratings'].append("*")  # Default rating if not found
        bus_dict['fare'].append(element.find_element(By.CLASS_NAME, 'fare').text)
        bus_dict['seats'].append(element.find_element(By.CLASS_NAME, 'seat-left').text)

# List of route links (assuming route_link is already defined and populated)
for i, link in enumerate(route_link['routelink']):
    route_name = route_link['routename'][i]
    print(f"Processing route '{route_name}' ({i + 1}/{len(route_link['routelink'])}): {link} Total Extraction:{len(bus_dict["busname"])}")
    extract_time(route_name, link)


# Close the WebDriver
driver.quit()

# Convert the route data to a DataFrame and save it as a CSV file
bus_data = pd.DataFrame(bus_dict)
bus_data.to_csv('bus_data.csv', index=False)

Processing route 'Vijayawada to Hyderabad' (1/279): https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad Total Extraction:0
Processing route 'Hyderabad to Vijayawada' (2/279): https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada Total Extraction:342
Processing route 'Kakinada to Visakhapatnam' (3/279): https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam Total Extraction:729
Processing route 'Visakhapatnam to Kakinada' (4/279): https://www.redbus.in/bus-tickets/visakhapatnam-to-kakinada Total Extraction:731
Processing route 'Chittoor (Andhra Pradesh) to Bangalore' (5/279): https://www.redbus.in/bus-tickets/chittoor-andhra-pradesh-to-bangalore Total Extraction:734
Processing route 'Kadapa to Bangalore' (6/279): https://www.redbus.in/bus-tickets/kadapa-to-bangalore Total Extraction:744
Processing route 'Anantapur (andhra pradesh) to Bangalore' (7/279): https://www.redbus.in/bus-tickets/ananthapur-to-bangalore Total Extraction:785
Processing route 'Tirupati to Bangalore' (8/279): https://www.redbus.in/bus-tickets/tirupathi-to-bangalore Total Extraction:835
Processing route 'Visakhapatnam to Vijayawada' (9/279): https://www.redbus.in/bus-tickets/visakhapatnam-to-vijayawada Total Extraction:894
Processing route 'Ongole to Hyderabad' (10/279): https://www.redbus.in/bus-tickets/ongole-to-hyderabad Total Extraction:1127
Processing route 'Bangalore to Tirupati' (11/279): https://www.redbus.in/bus-tickets/bangalore-to-tirupathi Total Extraction:1274
Processing route 'Macherla (andhra pradesh) to Hyderabad' (12/279): https://www.redbus.in/bus-tickets/macherla-to-hyderabad Total Extraction:1448
Processing route 'Rajahmundry to Visakhapatnam' (13/279): https://www.redbus.in/bus-tickets/rajahmundry-to-visakhapatnam Total Extraction:1466
Processing route 'Nandyal to Hyderabad' (14/279): https://www.redbus.in/bus-tickets/nandyala-to-hyderabad Total Extraction:1502
Processing route 'Bangalore to Kadapa' (15/279): https://www.redbus.in/bus-tickets/bangalore-to-kadapa Total Extraction:1580
Processing route 'Hyderabad to Ongole' (16/279): https://www.redbus.in/bus-tickets/hyderabad-to-ongole Total Extraction:1620
Processing route 'Guntur (Andhra Pradesh) to Hyderabad' (17/279): https://www.redbus.in/bus-tickets/guntur-to-hyderabad Total Extraction:1797
Processing route 'Vijayawada to Visakhapatnam' (18/279): https://www.redbus.in/bus-tickets/vijayawada-to-visakhapatnam Total Extraction:1875
Processing route 'Rajahmundry to Vijayawada' (19/279): https://www.redbus.in/bus-tickets/rajahmundry-to-vijayawada Total Extraction:2011
Processing route 'Hyderabad to Kurnool' (20/279): https://www.redbus.in/bus-tickets/hyderabad-to-kurnool Total Extraction:2128
Processing route 'Bangalore to Chittoor (Andhra Pradesh)' (21/279): https://www.redbus.in/bus-tickets/bangalore-to-chittoor-andhra-pradesh Total Extraction:2414
Processing route 'Kurnool to Hyderabad' (22/279): https://www.redbus.in/bus-tickets/kurnool-to-hyderabad Total Extraction:2470
Processing route 'Visakhapatnam to Rajahmundry' (23/279): https://www.redbus.in/bus-tickets/visakhapatnam-to-rajahmundry Total Extraction:2554
Processing route 'Rayachoti to Bangalore' (24/279): https://www.redbus.in/bus-tickets/rayachoti-to-bangalore Total Extraction:2569
Processing route 'Vinukonda to Hyderabad' (25/279): https://www.redbus.in/bus-tickets/vinukonda-to-hyderabad Total Extraction:2593
Processing route 'Bangalore to Anantapur (andhra pradesh)' (26/279): https://www.redbus.in/bus-tickets/bangalore-to-ananthapur Total Extraction:2628
Processing route 'Amalapuram to Visakhapatnam' (27/279): https://www.redbus.in/bus-tickets/amalapuram-to-visakhapatnam Total Extraction:2800
Processing route 'Vijayawada to Tirupati' (28/279): https://www.redbus.in/bus-tickets/vijayawada-to-tirupathi Total Extraction:2804
Processing route 'Madanapalli to Bangalore' (29/279): https://www.redbus.in/bus-tickets/madanapalli-to-bangalore Total Extraction:2949
Processing route 'Narasaraopet to Hyderabad' (30/279): https://www.redbus.in/bus-tickets/narsaraopet-to-hyderabad Total Extraction:2952
Processing route 'Eluru to Hyderabad' (31/279): https://www.redbus.in/bus-tickets/eluru-to-hyderabad Total Extraction:2990
Processing route 'Visakhapatnam to Amalapuram' (32/279): https://www.redbus.in/bus-tickets/visakhapatnam-to-amalapuram Total Extraction:3147
Processing route 'Kadiri to Bangalore' (33/279): https://www.redbus.in/bus-tickets/kadiri-to-bangalore Total Extraction:3151
Processing route 'Chennai to Tirupati' (34/279): https://www.redbus.in/bus-tickets/chennai-to-tirupathi Total Extraction:3158
Processing route 'Rajahmundry to Hyderabad' (35/279): https://www.redbus.in/bus-tickets/rajahmundry-to-hyderabad Total Extraction:3170
Processing route 'Kurnool to Vijayawada' (36/279): https://www.redbus.in/bus-tickets/kurnool-to-vijayawada Total Extraction:3296
Processing route 'Vijayawada to Kurnool' (37/279): https://www.redbus.in/bus-tickets/vijayawada-to-kurnool Total Extraction:3308
Processing route 'Kakinada to Vijayawada' (38/279): https://www.redbus.in/bus-tickets/kakinada-to-vijayawada Total Extraction:3320
Processing route 'Bangalore to Madanapalli' (39/279): https://www.redbus.in/bus-tickets/bangalore-to-madanapalli Total Extraction:3335
Processing route 'Nellore to Bangalore' (40/279): https://www.redbus.in/bus-tickets/nellore-to-bangalore Total Extraction:3348
Processing route 'Hyderabad to Narasaraopet' (41/279): https://www.redbus.in/bus-tickets/hyderabad-to-narsaraopet Total Extraction:3428
Processing route 'Hyderabad to Guntur (Andhra Pradesh)' (42/279): https://www.redbus.in/bus-tickets/hyderabad-to-guntur Total Extraction:3469
Processing route 'Bangalore to Kadiri' (43/279): https://www.redbus.in/bus-tickets/bangalore-to-kadiri Total Extraction:3544
Processing route 'Vijayawada to Rajahmundry' (44/279): https://www.redbus.in/bus-tickets/vijayawada-to-rajahmundry Total Extraction:3552
Processing route 'Bangalore to Rayachoti' (45/279): https://www.redbus.in/bus-tickets/bangalore-to-rayachoti Total Extraction:3608

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=127.0.6533.89)
Stacktrace:
	GetHandleVerifier [0x00007FF62D2B9632+30946]
	(No symbol) [0x00007FF62D26E3C9]
	(No symbol) [0x00007FF62D166FDA]
	(No symbol) [0x00007FF62D14EA4C]
	(No symbol) [0x00007FF62D14E910]
	(No symbol) [0x00007FF62D1698C1]
	(No symbol) [0x00007FF62D1FA799]
	(No symbol) [0x00007FF62D1DC813]
	(No symbol) [0x00007FF62D1AA6E5]
	(No symbol) [0x00007FF62D1AB021]
	GetHandleVerifier [0x00007FF62D3EF83D+1301229]
	GetHandleVerifier [0x00007FF62D3FBDB7+1351783]
	GetHandleVerifier [0x00007FF62D3F2A03+1313971]
	GetHandleVerifier [0x00007FF62D2EDD06+245686]
	(No symbol) [0x00007FF62D27758F]
	(No symbol) [0x00007FF62D273804]
	(No symbol) [0x00007FF62D273992]
	(No symbol) [0x00007FF62D26A3EF]
	BaseThreadInitThunk [0x00007FF94841257D+29]
	RtlUserThreadStart [0x00007FF94A3CAA58+40]

In [40]:
bus_dict
bus_data = pd.DataFrame(bus_dict)

# DATA Cleaning

In [41]:
bus_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   route_Name  3608 non-null   object
 1   busname     3608 non-null   object
 2   bus_desc    3608 non-null   object
 3   bustype     3608 non-null   object
 4   starttime   3608 non-null   object
 5   endtime     3608 non-null   object
 6   duration    3608 non-null   object
 7   dploc       3608 non-null   object
 8   ratings     3608 non-null   object
 9   fare        3608 non-null   object
 10  seats       3608 non-null   object
dtypes: object(11)
memory usage: 310.2+ KB

# Data Preprocessing Steps

1. **Clean and Convert Data Types**
   - **Rating, Fare, and Seats**: Ensure these columns are cleaned and converted to integer and float types as appropriate.
   - **Start Time and End Time**: Convert these columns to datetime data types.

2. **Separate Bus Name and Bus ID**
   - The `bus name` and `bus id` columns are currently combined. Separate them into distinct columns.

3. **Split Route Name**
   - **Route Name**: Split this column into two separate columns: `route_from` and `route_to`.

4. **Extract and Add Seat Type and AC Type**
   - **Seat Type and AC Type**: Extract these details from the `bus type` column and create separate columns for them.

By following these preprocessing steps, you will ensure that the data is clean, well-organized, and ready for further analysis.

In [42]:
df = bus_data.copy() # the original data copy taken
df

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,16:30,05h 00m,Rtc bus stand,3.6,INR 670,26 Seats available
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30,18:05,06h 35m,Auto Nagar,4.0,INR 469,34 Seats available
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15,18:25,06h 10m,Rtc bus stand,3.8,INR 720,40 Seats available
3,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:30,20:35,08h 05m,Auto Nagar,2.5,INR 469,28 Seats available
4,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),13:00,21:00,08h 00m,Auto Nagar,2.0,INR 469,32 Seats available
...,...,...,...,...,...,...,...,...,...,...,...
3603,Vijayawada to Rajahmundry,NueGo,A/C Seater/Sleeper (2+1),Electric A/C Seater (2+2),22:20,02:00,03h 40m,Ankamma Thali Temple,*,INR 3999,44 Seats available
3604,Vijayawada to Rajahmundry,NueGo,A/C Sleeper (2+1),Electric A/C Seater (2+2),22:30,02:50,04h 20m,Tadepalli,2.7,INR 790,30 Seats available
3605,Vijayawada to Rajahmundry,NueGo,A/C Sleeper (2+1),Electric A/C Seater (2+2),23:05,03:30,04h 25m,Tadepalli,2.7,INR 890,24 Seats available
3606,Vijayawada to Rajahmundry,NueGo,A/C Sleeper (2+1),Electric A/C Seater (2+2),23:45,03:15,03h 30m,Tadepalli,2.7,INR 1090,28 Seats available
3607,Vijayawada to Rajahmundry,NueGo,A/C Sleeper (2+1),Electric A/C Seater (2+2),00:55,04:15,03h 20m,Tadepalli,2.7,INR 1290,20 Seats available

# Step 1 : **Clean and Convert Data Types**
 - Rating - int type
 - fare - remove inr and float type
 - seats - remove seats avialble and convert number
 - starttime and end time - should data and time format

In [43]:
from datetime import datetime as dt

df['fare'] = df['fare'].str.replace('INR ', '')
df["fare"] = df["fare"].apply(lambda i : float(i))


df['ratings'] = df['ratings'].str.replace('*','0')
df["ratings"] = df["ratings"].apply(lambda i : float(i))

df['starttime'] = pd.to_datetime(df['starttime'], format='%H:%M')
df['endtime'] = pd.to_datetime(df['endtime'], format='%H:%M')

df['starttime'] = df['starttime'].dt.time
df['endtime'] = df['endtime'].dt.time

df.head(3)

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,16:30:00,05h 00m,Rtc bus stand,3.6,670.0,26 Seats available
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,18:05:00,06h 35m,Auto Nagar,4.0,469.0,34 Seats available
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15:00,18:25:00,06h 10m,Rtc bus stand,3.8,720.0,40 Seats available

In [44]:
df[['Bus_Name', 'Bus_Id']] = df['busname'].str.split(' - ', expand=True)
df['Bus_Id'] = df['Bus_Id'].fillna('Private Bus')
df.loc[df['Bus_Id'] != 'Private Bus', 'Bus_Id'] = 'Government Bus'

df.head(3)

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats,Bus_Name,Bus_Id
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,16:30:00,05h 00m,Rtc bus stand,3.6,670.0,26 Seats available,APSRTC,Government Bus
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,18:05:00,06h 35m,Auto Nagar,4.0,469.0,34 Seats available,APSRTC,Government Bus
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15:00,18:25:00,06h 10m,Rtc bus stand,3.8,720.0,40 Seats available,APSRTC,Government Bus

In [45]:
df['seats'] = df['seats'].str.replace('Seats available','')
df['seats'] = df['seats'].str.replace('Seat available','')
df["seats"] = df["seats"].apply(lambda i : int(i))

df.head(3)

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats,Bus_Name,Bus_Id
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,16:30:00,05h 00m,Rtc bus stand,3.6,670.0,26,APSRTC,Government Bus
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,18:05:00,06h 35m,Auto Nagar,4.0,469.0,34,APSRTC,Government Bus
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15:00,18:25:00,06h 10m,Rtc bus stand,3.8,720.0,40,APSRTC,Government Bus

In [46]:
import re

def extract_seater(bustype):
    bustype_lower = bustype.lower()  # Convert to lowercase for consistent matching

    # Determine Seater type
    if 'seater / sleeper' in bustype_lower or 'seater/sleeper' in bustype_lower or \
       'sleeper / seater' in bustype_lower or 'sleeper/seater' in bustype_lower:
        seater = 'Seater / Sleeper'
    elif 'semi sleeper / sleeper' in bustype_lower or 'semi sleeper/sleeper' in bustype_lower or \
         'sleeper / semi sleeper' in bustype_lower or 'sleeper/semi sleeper' in bustype_lower:
        seater = 'Semi Sleeper / Sleeper'
    elif 'seater / semi sleeper' in bustype_lower or 'seater/semi sleeper' in bustype_lower or \
         'semi sleeper / seater' in bustype_lower or 'semi sleeper/seater' in bustype_lower:
        seater = 'Seater / Semi Sleeper'
    elif 'push back' in bustype_lower:
        seater = 'Push Back'
    elif 'semi sleeper' in bustype_lower:
        seater = 'Semi Sleeper'
    elif 'sleeper' in bustype_lower:
        seater = 'Sleeper'
    elif 'seater' in bustype_lower:
        seater = 'Seater'
    else:
        seater = 'Unknown'
    
    return seater

def extract_ac_type(bustype):
    bustype_lower = bustype.lower()  # Convert to lowercase for consistent matching

    # Regular expressions for matching Non-AC and AC variations
    ac_patterns = [r'\b(non[-\s]?ac)\b', r'\b(non[-\s]?a/c)\b', r'\b(non[-\s]?a\.c)\b', r'\bnon[-\s]?a\.c\b']
    non_ac_patterns = [r'\b(ac)\b', r'\ba/c\b', r'\ba\.c\b']

    ac_type = 'Unknown'  # Default value if no match is found

    # Check for Non-AC types first
    for pattern in ac_patterns:
        if re.search(pattern, bustype_lower):
            ac_type = 'Non A/C'
            break

    # Check for AC types if no Non-AC match was found
    if ac_type == 'Unknown':
        for pattern in non_ac_patterns:
            if re.search(pattern, bustype_lower):
                ac_type = 'AC'
                break

    return ac_type

# Applying the functions to your DataFrame
df['Seat_Type'] = df['bustype'].apply(extract_seater)
df['Actype'] = df['bustype'].apply(extract_ac_type)

df.head(5)

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats,Bus_Name,Bus_Id,Seat_Type,Actype
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,16:30:00,05h 00m,Rtc bus stand,3.6,670.0,26,APSRTC,Government Bus,Unknown,AC
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,18:05:00,06h 35m,Auto Nagar,4.0,469.0,34,APSRTC,Government Bus,Unknown,AC
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15:00,18:25:00,06h 10m,Rtc bus stand,3.8,720.0,40,APSRTC,Government Bus,Unknown,AC
3,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:30:00,20:35:00,08h 05m,Auto Nagar,2.5,469.0,28,APSRTC,Government Bus,Unknown,AC
4,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),13:00:00,21:00:00,08h 00m,Auto Nagar,2.0,469.0,32,APSRTC,Government Bus,Unknown,AC

In [47]:
df[['h', 'm']] = df['duration'].str.split(" ", expand=True)

df['h'] = df['h'].str.replace('h', '')
df['m'] = df['m'].str.replace('m', '')
df['h'] = df['h'].str.replace('-', '')
df['m'] = df['m'].str.replace('-', '')

In [48]:
# Convert to integers
df['h'] = df['h'].apply(lambda i: int(i))
df['m'] = df['m'].apply(lambda i: int(i))

df['dur_in_min'] = (df['h']*60) + df['m']
df = df.drop(columns=['h', 'm'])

In [49]:
df.head(5)

,route_Name,busname,bus_desc,bustype,starttime,endtime,duration,dploc,ratings,fare,seats,Bus_Name,Bus_Id,Seat_Type,Actype,dur_in_min
0,Vijayawada to Hyderabad,APSRTC - 3858,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,16:30:00,05h 00m,Rtc bus stand,3.6,670.0,26,APSRTC,Government Bus,Unknown,AC,300
1,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),11:30:00,18:05:00,06h 35m,Auto Nagar,4.0,469.0,34,APSRTC,Government Bus,Unknown,AC,395
2,Vijayawada to Hyderabad,APSRTC - 3858,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:15:00,18:25:00,06h 10m,Rtc bus stand,3.8,720.0,40,APSRTC,Government Bus,Unknown,AC,370
3,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),12:30:00,20:35:00,08h 05m,Auto Nagar,2.5,469.0,28,APSRTC,Government Bus,Unknown,AC,485
4,Vijayawada to Hyderabad,APSRTC - 3858,Super Luxury (Non AC Seater 2+2 Push Back),DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),13:00:00,21:00:00,08h 00m,Auto Nagar,2.0,469.0,32,APSRTC,Government Bus,Unknown,AC,480

In [37]:
df[['h', 'm']] = df['duration'].str.split(" ", expand=True)

In [50]:
df[['Orgin', 'End']] = df['route_Name'].str.split(' to ', expand=True)

In [51]:
df.to_csv("output.csv", index=False)

In [22]:
import sqlalchemy as sa
import mysql.connector

engine = sa.create_engine("mysql+mysqlconnector://admin:redbus123@redbus.c5ic8ayqm05z.ap-south-1.rds.amazonaws.com:3306/redbus")

data.to_sql('new',engine)

engine.dispose()